 <!DOCTYPE HTML>
 <html> 
     <head>
          <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HobbyHubQuiz</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
    <body>
        <h1>Hobby Hub</h1>
        <div>
        <ul>
          <li class="navbar" ><a class="active" href="#home">Home</a></li>
          <li class="navbar"><a href="#quiz">Hobby Finder Quiz</a></li>
          <li class="navbar"><a href="#tips">Tips and Tricks</a></li>
          <li class="navbar"><a href="#start">How to Start Your Hobby</a></li>
        </ul>
        </div> <br>
        <div class="divText">
        <h2>Hobby Finder Quiz!</h2>
        <h2 style="font-size:20px;color:black">Hi! Welcome to the quiz! </h2>
        <form method=POST>
        <h3>Do you like to work with your hands?</h3>
        <input type="radio" name="hands" value="a">Yes
        <input type="radio" name="hands" value="b">No
        <input type="radio" name="hands" value="c">I'd be willing to try it
        <% post "/" do%>
        <% answer = params[:name] %>
        <% if answer == "a"%>
        <% count += 0%>
        <% elsif answer == "b"%>
        <% count += 10 %>
        <% elsif answer == "c"%>
        <% count += 20%>
        <%end %>
        <% return erb:q4 %>
        <input type="submit" value="Next Question">
      
        <h3>Do you like to be active?</h3>
            <input type="radio" name="active" value="a">Yes
            <input type="radio" name="active" value="b">No
            <input type="radio" name="active" value="c">I could try it
        <h3>How do you like to work?</h3>
            <input type="radio" name="work" value="a">Alone
            <input type="radio" name="work" value="b">With Others
            <input type="radio" name="work" value="c">No Preference
        <h3> Do you like to challenge yourself?</h3>
            <input type="radio" name="active" value="a">Yes
            <input type="radio" name="active" value="b">No
        </form>
        </div>
        <br>
        <div class="divText">
        <h3>Art</h3>
        <p>There are many hobbies you can start under the art category. <p> 
     
          <h3>Outdoors</h3>  
          <p> hahaha </p>
       
         <h3>Mind Challenging</h3> 
         <p>You may be thinking, 'What the heck does mind challenging mean??'. Well, mind challenging is basically anykind of activity that trains or challenges your brain. You may be the type of person who wants to sit in front of the fire and open a good book. Some hobbie suggestions: reading, puzzles, writing, sudoku, riddles, crossword puzzles, and chess.</p>
      
            <h3>Performing Arts</h3>
            <p>Do you want to perform or showcase a talent? Performing arts may be perfect for you! </p>
      
            <h3>Indoor Sports</h3>
            <p>Indoor sports are perfect for those who want to feel active in a controlled climate. </p>
        </div>
    </div>
</body>
</html>